@use '../../../styles/main';

.Header {
  height: 70px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  font-size: 20px;
  gap: 50px;
}

.title {
  font-weight: bold;
  text-decoration: none;
  &:active,
  &:hover,
  &:visited {
    text-decoration: none !important;
  }

  @media #{main.$mob} {
    display: none;
  }

}
