$width: 400px;

.GroupItem {
  border: 1px solid #ddd;
  padding: 15px;
  width: $width;
  box-sizing: border-box;

  .groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .groupName {
    margin: 0;
    font-size: 18px;
    flex: 1;
  }

  .deleteButton {
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
  }

  .contacts {
    margin-bottom: 10px;
    color: #666;
  }

  .studentsInfo {
    margin-bottom: 15px;
    font-weight: bold;
  }

  .studentsList {
    border-top: 1px solid #eee;
    padding-top: 10px;
    
    ul {
      margin: 10px 0 0 0;
      padding-left: 20px;
    }
    
    li {
      margin-bottom: 5px;
    }
  }

  .groupFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: #888;
  }
}