.Student {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 370px auto;

  transition: opacity 0.9s ease-in-out;
}

.--isDeleted {
  color: var(--color3);
  transition: color 0.5s ease;
  
  button {
    display: none;
  }
}

.--isNew {
  opacity: 0.5;
  
  
  button {
    display: none;
  }
}
